# SEMANA 05

Mg. Flor Elizabeth Cerdan Leon
Temas:
1. Colecciones de datos
2. Estructuras decisivas
3. Clases y objetos
4. Funciones

2. Estructuras decisivas

In [ ]:
# Estructuras decisivas (if, elif, else)

In [1]:
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1 + P2 + P3
if total >=100:
    total*=0.9
print(f"Total a pagarse: {total}")

Producto 1: 412
Producto 2: 7789
Producto 3: 475
Total a pagarse: 7808.400000000001

In [ ]:
# 1.5 Ejercicio
# Dado una lista de [ASUNCION, AYQUIPA, BARZOLA, CAMAN, CURO, INCA, SAHUMA, TALLEDO, URBISAGASTEGUI]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por el teclado) forma parte de la lista

In [2]:
aulaLP3 = ['ASUNCION','AYQUIPA','BARZOLA','CAMAN','CURO','INCA','SAHUMA','TALLEDO','URBISAGASTEGUI']
alumno = input()
if alumno in aulaLP3:
    print(f'El alumno {alumno} si pertenece al aulaLP3')
else:
    print(f'El alumno {alumno} no pertenece al aulaLP3')

BARZOLA
El alumno BARZOLA si pertenece al aulaLP3

In [ ]:
# Problema 02
# Dado el importe total de ventas realizados por un trabajador (ingresado por teclado)
# Categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoría A -> [0, 1000]
# Categoría B -> <1000, 2000]
# Categoría C -> <2000, 5000]
# Categoría D -> <5000, Más]

In [15]:
# Solucion
ventas = float(input("Importe de ventas realizada: "))
if ventas < 0:
    print("Datos erroneas")
else:
    if ventas <= 1000:
        print("Categoria A")
    else:
        if ventas <= 2000:
            print("Categoria B")
        else:
            if ventas <=5000:
                print("Categoria C")
            else: 
                print("Categoria D")

Importe de ventas realizada: 5200
Categoria D

In [ ]:
# elif
# Problema 03, Solucionar el problema anterior utilizando elif

# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado)
# Categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoría A -> [0, 1000]
# Categoría B -> <1000, 2000]
# Categoría C -> <2000, 5000]
# Categoría D -> <5000, Más]

In [16]:
ventas = float(input("Importe de ventas realizada: "))
if ventas < 0:
    print("Datos erroneas")
elif ventas <= 1000:
    print("Categoria A")
elif ventas <= 2000:
    print("Categoria B")
elif ventas <=5000:
    print("Categoria C")
else: 
    print("Categoria D")

Importe de ventas realizada: 3200
Categoria C

In [ ]:
# 2.2 Estructuras repetitivas

In [3]:
# for

In [4]:
# Problema 01
# Mostrar los elementos de una lista utilizando el for

In [5]:
# Solución
aula = ['INCA','BARZOLA','URBISAGASTEGUI','CAMAN']
# Por cada alumno que está en la lista, imprimir el alumno
for alumno in aula:
    print(alumno)

INCA
BARZOLA
URBISAGASTEGUI
CAMAN

In [6]:
# Problema 02
# Dado una cadena ingresado por teclado, mostrar cada caracter de la cadena, utilizando el for

In [9]:
# Solución 
cadena = input("Ingrese Cadena: ")
for caracter in cadena:
    print(caracter)

Ingrese Cadena: Ya basta Freezerrrrrr
Y
a

b
a
s
t
a

F
r
e
e
z
e
r
r
r
r
r
r

In [17]:
# Generar rango de números usando range()
range(5)
# [0,5>

range(0, 5)

In [19]:
# Problema 02
# Imprimir los números de 0 a 10, utilizamos for 
for numero in range (0,11):
    print(numero)

0
1
2
3
4
5
6
7
8
9
10

In [20]:
# Problema 03
# Imprimir los números de 5 a 10, utilizamos for 
for numero in range (5,11):
    print(numero)

5
6
7
8
9
10

In [11]:
# Problema 04
# Imprimir los números de 10 a 20, tuilizando for
for numero in range(10,22,2):
    print (numero)

10
12
14
16
18
20

In [12]:
# while
# Permite ejecutar un conjunto de acciones

In [13]:
# Ejemplo:
numero = 1
fin = 10
while numero <= fin:
    print(numero)
    numero+=1

1
2
3
4
5
6
7
8
9
10